# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# IDE / editor
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp
*.db-shm
*.db-wal
